@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

#root {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.listToDo {
  display: grid;
  grid-template-columns: 2rem fit-content(90%) 1fr;
  grid-gap: 0.5rem;
  align-items: center;
  grid-template-rows: 1fr;
  height: 4rem;
  font-weight: 400;
  border-width: 0.1rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}

.listToDoX {
  background-color: rgba(55, 152, 40, 0.5);
  opacity: 0.2;
}

.ionIconX {
  font-size: 1.5rem;
  color: red;
  opacity: 0.2;
}

.ionIconEdit {
  font-size: 1.5rem;
  opacity: 0.2;
  /* align-self: center; */
}

.ionIconX:hover,
.ionIconEdit:hover {
  opacity: 0.4;
}

.simpleSpan {
  font-size: 0.5rem;
  color: gray;
  opacity: 0.6;
  font-style: italic;
}

.noHover:hover {
  appearance: none;
  outline-style: auto;
  /* outline-style: auto; */
}
